
<div class="w-100 saving_acc">
    <p class="mb-3">Total Enquiries </p>
    <div class="d-flex justify-content-between flex-wrap mb-5">
        <div class="my-1">
            <h3 class="mb-3">Nevbank Sarvings Account</h3>
            <p class="mb-0">88 1240 7793 766 3667 0002 9448</p>
        </div>

        <div>
            <p class="mb-3">Available Balance</p>
            <h4 class="mb-0">68.789,56$</h4>
        </div>
    </div>
    <!-- <div class="d-flex flex-wrap align-items-center">
        <button class="blue_btn m-2 ms-0">Transfer Money</button>
        <button class="light_btn m-2">Link Account </button>
    </div> -->
</div>

<div class="w-100 saving_acc">
    <p class="mb-3">Pending Enquires</p>
    <div class="d-flex justify-content-between flex-wrap mb-5">
        <div class="my-1">
            <h3 class="mb-3">Nevbank Sarvings Account</h3>
            <p class="mb-0">88 1240 7793 766 3667 0002 9448</p>
        </div>

        <div>
            <p class="mb-3">Available Balance</p>
            <h4 class="mb-0">68.789,56$</h4>
        </div>
    </div>
    <!-- <div class="d-flex flex-wrap align-items-center">
        <button class="blue_btn m-2 ms-0">Transfer Money</button>
        <button class="light_btn m-2">Link Account </button>
    </div> -->
</div>