<div class="container-header">

  <!-- Left -->
  <div class="header-left">

    <div class="brand-header">
      <span>Skill Bridge</span>
    </div>

    <div class="search">
      <input type="text" placeholder="Search" />
    </div>
  </div>

  <!-- Right -->
  <div class="header-right">
    <select class="lang-select">
      <option>English</option>
      <option>Hindi</option>
    </select>

    <button class="icon-btn-rel badge">
        <span class="icon-mask icon-md icon-bell color-gold"></span>
        <span class="dot">2</span>
    </button>
  </div>

</div>
