@use '../../shared/src/lib/styles/index' as *;


body {
    margin: 0px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {

    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

