<div class="container-worker">
    <!-- HEADER -->
    <!-- <div class="page-header">
        <h2 class="page-title">Workers</h2>


    </div> -->


    <div class="container-main-header">
        <div class="main-brand-header">
            <span class="logo bg-mulbery">W</span>
            <span>Workers</span>
        </div>

    </div>

    <!-- WORKER TYPE CARDS -->
    <worker-category-tile [workerTypes]="workersCategories()"
        (categoryClick)="onCategorySelect($event)"></worker-category-tile>

    @if (workerCategorySkills().length) {

    <worker-category-skill-tile [skillCatName]="selectedCategoryName()" [skills]="workerCategorySkills()"
        (skillClick)="onSkillSelect($event)">
    </worker-category-skill-tile>

    }

    <!-- TABLE -->

    <worker-list-table [workers]="filteredWorkers()" [workersCount]="workersCount()" [page]="page()" [size]="size()"
        (view)="onViewWorker($event)" (call)="onCallWorker($event)" (pageChange)="onPageChange($event)"
        (sortChange)="onSortChanged($event)" (searchChange)="onSearchChanged($event)">
    </worker-list-table>
</div>