<div class="action-card">
    <div class="card-header">
        Worker Submits Details
        <span>View All</span>
    </div>
    <ul>
        <li>
            <span class="icon-mask icon-md icon-briefcase color-blue-deep"></span>
            225 Daily Entries
        </li>
        <li>
            <span class="icon-mask icon-md icon-calendar color-orange"></span>
            1,120 Weekly Entries
        </li>
        <li>
            <span class="icon-mask icon-md icon-calendar-days color-cyan"></span>
            4,650 Monthly Entries
        </li>
        <li class="up">
            <span class="icon-mask icon-md icon-arrow-trending color-green"></span>
            +5,240 Total Approved Submits
        </li>
        <li class="down">
            <span class="icon-mask icon-md icon-arrow-trending-down color-red"></span>
            -275 Total Rejected Submits
        </li>
    </ul>
</div>