<div class="container-dashboard">


        <!-- HEADER -->
    <div class="container-main-header">
        <div class="main-brand-header">
            <span class="logo bg-brown">D</span>
            <span>Admin Dashboard - Overview</span>
        </div>

    </div>


    <!-- <div class="page-header">
        <h2 class="page-title">Admin Dashboard - Overview</h2>
    </div> -->

    <!-- TOP STATS / ANALYTICS -->
    <div class="rw">
        <request-analytics [stats]="stats"></request-analytics>
    </div>
    <!-- MAIN GRID -->
    <div class="grid">
        <request-details></request-details>

        <quick-actions></quick-actions>
    </div>
</div>