@use '../../../../../../../shared/src/lib/styles/tokens/colors' as *;
@use '../../../../../../../shared/src/lib/styles/tokens/spacing' as *;
@use '../../../../../../../shared/src/lib/styles/tokens/radius' as *;
@use '../../../../../../../shared/src/lib/styles/tokens/shadows' as *;

.alert-page {
  padding: $space-md;
  gap: $space-md;
}



/* FILTER */
.alert-filter {
  background: $color-white;
  padding: $space-sm;
  border-radius: $radius-sm;
  border: 1px solid $color-border;
}


/* ALERT FEED */
.alert-feed {
  display: flex;
  flex-direction: column;
  padding: 0;
}


/* SINGLE ALERT */
.alert-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: $space-md;
  padding: $space-md;
  border-bottom: 1px solid $color-border;
  transition: all 0.15s ease;
  cursor: pointer;

  &:hover {
    background: $color-bg-action-btn;
  }

  &.unread {
    background: $color-blue-light;
  }
}


/* ICON */
.alert-icon {
  width: 40px;
  height: 40px;
  border-radius: $radius-xs;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* CONTENT */
.alert-content {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .title {
    font-weight: 600;
    font-size: 15px;
    color: $color-text-main;
  }

  .sub {
    font-size: 13px;
    color: $color-text-muted;
  }
}


/* META */
.alert-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $space-xs;
  font-size: 12px;
  color: $color-text-muted;
}
