<div class="dashboard-card" [ngClass]="[card.cardClass || 'card-default']" [routerLink]="card.route"
    [queryParams]="card.queryParams">

    <div class="dashboard-card-header">

        <div class="card-content">
            <p class="card-title">
                {{ card.title }}
            </p>

            <h3 class="card-value">
                {{ card.value }}
            </h3>
        </div>


        <div class="card-actions">

            <span [class]="card.iconClass"></span>

            
            <a class="card-link" [routerLink]="card.route" [queryParams]="card.queryParams"
                (click)="$event.stopPropagation()">

                View Details
                <span class="icon-mask icon-sm icon-chevron-right"></span>

            </a>
        </div>


    </div>

</div>