.dashboard-card {
    border-radius: 16px;
    padding: 28px;
    min-height: 180px;

    cursor: pointer;
    transition: all .2s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
        transform: translateY(-3px);
    }
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
}


.card-default {
    background: #ffffff;
    border: 1px solid #ffffff;

    .card-title {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
    }

    .card-value {
        margin-top: 18px;
        margin-bottom: 0;

        font-size: 48px;
        line-height: 1;
        font-weight: 700;
    }

    &:hover {
        background: #283EB1;
        border: 1px solid #283EB1;

        .color-dark-blue,
        .color-orange,
        .card-title,
        .card-value {
            color: #fff;
        }
    }
}

.card-alert {
    background: #283EB1;
    border: 1px solid #283EB1;
    color: #FFFFFF;

    .card-title {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
    }

    .card-value {
        margin-top: 18px;
        margin-bottom: 0;

        font-size: 48px;
        line-height: 1;
        font-weight: 700;
    }

    .color-red {
        color: #FFFFFF;
    }
}