<!-- <div class="container-header">

  <div class="header-left">

    <div class="brand-header">
      <span>Skill Bridge</span>
    </div>

    <div class="search">
      <input type="text" placeholder="Search" />
    </div>
  </div>

  <div class="header-right">
    <select class="lang-select">
      <option>English</option>
      <option>Hindi</option>
    </select>

    <button class="icon-btn-rel badge">
        <span class="icon-mask icon-md icon-bell color-gold"></span>
        <span class="dot">2</span>
    </button>
  </div>

</div> -->





<header class="app-header">
  <!-- Logo -->

  <div class="left-section">
    <div class="logo">Skill Bridge</div>
    <app-nav-bar></app-nav-bar>
  </div>



  <!-- Right Section -->
  <div class="right-section">
    <!-- Create Button -->
    <button class="create-btn" (click)='createEnquiry($event)'>
      <span class="icon-mask icon-md-sm icon-plus"></span> <span> Submit Enquiry </span>
    </button>

    <!-- Notification Icon -->
    <span class="notification-icon pt-xs" (click)='showNotification()'>
      <span class="icon-mask icon-md icon-alert"></span>
    </span>

    <!-- Profile Dropdown -->
    <button mat-button [matMenuTriggerFor]="profileMenu" class="header-profile">
      <div class="avatar">
        <span class="icon-mask icon-lg icon-user-circle"></span>
      </div>
      <div class="header-info">
        <span class="h-name">Nishant Soam</span>
        <span class="h-email">nishant@gmail.com</span>
        <!-- <span class="name">{{ sessionData().name | titlecase }}</span>
                <span class="email">{{sessionData().email}}</span> -->
      </div>
      <div class="dropdown-icon">

        <span class="icon-mask icon-sm icon-chevron-down color-black"></span>
      </div>
    </button>

    <mat-menu #profileMenu="matMenu" xPosition="before" [overlapTrigger]="false" class="profile-menu">
      <button mat-menu-item (click)="goToProfile($event)">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item type="button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>


  </div>
</header>