<!-- <div class="container-header">

  <div class="header-left">

    <div class="brand-header">
      <span>Skill Bridge</span>
    </div>

    <div class="search">
      <input type="text" placeholder="Search" />
    </div>
  </div>

  <div class="header-right">
    <select class="lang-select">
      <option>English</option>
      <option>Hindi</option>
    </select>

    <button class="icon-btn-rel badge">
        <span class="icon-mask icon-md icon-bell color-gold"></span>
        <span class="dot">2</span>
    </button>
  </div>

</div> -->





<header class="app-header">
    <!-- Logo -->

    <div class="left-section">
        <div class="logo">Skill Bridge</div>
        <app-nav-bar></app-nav-bar>
    </div>



    <!-- Right Section -->
    <div class="right-section">
        <!-- Create Button -->
        <button class="create-btn" (click)='createEnquiry($event)'>
            <img src="/icons/plus-circle.svg" alt="rocket"  class="icon-rocket"> Submit Enquiry
        </button>

        <!-- Notification Icon -->
        <span class="icon">
            <img src="/icons/bell-alert.svg" (click)='showNotification()' alt="notification" width="30" height="30">
        </span>

        <!-- Profile Dropdown -->
        <button mat-button [matMenuTriggerFor]="profileMenu" class="profile">
            <div class="avatar">
                <img src="/icons/profile.svg" alt="Profile" width="55" height="55">
            </div>
            <div class="info">
                <span class="name">Nishant Soam</span>
                <span class="email">nishant@gmail.com</span>
                <!-- <span class="name">{{ sessionData().name | titlecase }}</span>
                <span class="email">{{sessionData().email}}</span> -->
            </div>
            <div class="dropdown-icon">
                <img src="/icons/chevron-down.svg" alt="Rupee" width="24" height="24">
            </div>
        </button>

        <mat-menu #profileMenu="matMenu" xPosition="before" [overlapTrigger]="false" class="profile-menu">
            <button mat-menu-item (click)="goToProfile($event)">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item type="button" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>


    </div>
</header>
