

/* COLLAPSED STATE */
.container-sidebar.collapsed {
    width: 72px;

    

    .wrapper-info {
        justify-content: flex-start;
        padding-left: 15px;

        /* keep toggle visible at left */
        .logo {
            opacity: 1;
            pointer-events: auto;
        }
    }


    /* hide logo */
    .wrapper-toggle {
        opacity: 0;
        pointer-events: none;
    }
    /* Hover: expand sidebar top bar */
    .wrapper-info:hover {
        justify-content: flex-start;
        /* logo will appear on left */
        padding-left: 20px;
          
        
        .wrapper-toggle {
            opacity: 1;
            pointer-events: auto;

            button {
                cursor: e-resize;
            }
        }
        
        /* toggle remains in same fixed position */
        .logo {
            display: none;
            opacity: 0;
            pointer-events: none;
        }
    }
}
