@if (worker) {

<div class="header">

    <div class="wrapper-meta">

        <div class="name-row">
            <h2>
                {{ worker.firstName }} {{ worker.lastName }}
            </h2>

            <span class="worker-id">
                Worker ID: {{ worker.workerCode }}
            </span>
        </div>

        <div class="progress-wrapper">

            <span>
                Profile Completion
            </span>

            <div class="progress-bar-wrapper">
                <span class="color-active">
                    90%
                </span>
            </div>

        </div>

    </div>

    <div class="wrapper-status-group">

        <!-- ACTIVE / INACTIVE -->

        <div class="active-status">

            <button class="btn-status" mat-button [ngClass]="getStatusClass(currentActiveStatus)"
                [matMenuTriggerFor]="statusMenu">

                <span>
                    {{ currentActiveStatus ? 'Active' : 'Inactive' }}
                </span>

                <span>|</span>

                <span class="icon-mask icon-sm icon-chevron-down color-white">
                </span>

            </button>

            <mat-menu #statusMenu="matMenu">

                @if (!currentActiveStatus) {
                <button mat-menu-item (click)="updateStatus(true)">
                    Active
                </button>
                }

                @if (currentActiveStatus) {
                <button mat-menu-item (click)="updateStatus(false)">
                    Inactive
                </button>
                }

            </mat-menu>

        </div>

        <!-- ABROAD STATUS -->

        <div class="active-status">

            <button class="btn-status" mat-button [ngClass]="getStatusClass(currentAbroadStatus)"
                [matMenuTriggerFor]="abroadMenu">

                <span>
                    {{ currentAbroadStatus }}
                </span>

                <span>|</span>

                <span class="icon-mask icon-sm icon-chevron-down color-white">
                </span>

            </button>

            <mat-menu #abroadMenu="matMenu">

                @if (currentAbroadStatus !== 'Interested') {
                <button mat-menu-item (click)="updateAbroadStatus('Interested')">
                    Interested
                </button>
                }

                @if (currentAbroadStatus !== 'Not Interested') {
                <button mat-menu-item (click)="updateAbroadStatus('Not Interested')">
                    Not Interested
                </button>
                }

            </mat-menu>

        </div>

    </div>

</div>

}