<div class="container-table">

    <div class="filter-bar">
        <div class="wrapper-search">
            <input type="text" placeholder="Search category..." [ngModel]="searchText()"
                (ngModelChange)="updateSearch($event)" />
        </div>

        <div class="wrapper-btn">

            <button class="btn-icon" (click)="toggleSort()">
                <span class="icon-mask icon-md icon-sort"></span>
                <span>
                    {{ sortLabel() }}
                </span>
            </button>

            <button class="btn-secondary btn-green" (click)="addCategory.emit()">
                <span class="icon-mask icon-sm icon-plus color-white "></span> Add Category
            </button>
            <button class="btn-secondary btn-blue" (click)="addSkill.emit()">
                <span class="icon-mask icon-sm icon-plus color-white "></span> Add Skills
            </button>
        </div>
    </div>

    <div class="table-card">

        <table class="table-primary">
            <thead>
                <tr>
                    <th>
                        Name
                        <small>
                            ({{ filteredCount() }}/{{ totalCategories() }})
                        </small>
                    </th>
                    <th>Description</th>
                    <th class="col-action">
                        Actions
                    </th>
                </tr>

            </thead>

            <tbody>

                @for (row of categories(); track row.id) {

                <tr>

                    <td>{{ row.categoryName }}</td>

                    <td>{{ row.description }}</td>

                    <td>

                        <div class="action-btn">

                            <button class="btn-table-action btn-view" (click)="view.emit(row)">
                                View
                            </button>

                            <button class="btn-table-action btn-add" (click)="addCatSkill.emit(row)">
                                Add Skills
                            </button>
                            <button class="btn-table-action btn-edit" (click)="edit.emit(row)">
                                Edit
                            </button>
                            <button class="btn-table-action badge-red" (click)="deleteCategory(row)">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
                }
                @empty {
                <tr>
                    <td colspan="3" class="text-center pt-lg">
                        No categories found.
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>